/* 1st file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#st{
    text-align: center;
    background-color: rgb(46, 46, 185);
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
#sp{
    text-decoration: underline;
}

/* 2nd file */

.nav{
 display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#logo{
    width: 180px;
    height: 120px;
}
.sa{
      display: flex;
    align-items:center;
    gap: 40px;
    padding: 10px;     
    font-size: 13px;
     margin-left: 450px;
     justify-content: space-between;
}
#chat{
    width: 50px;
    height: 50px;
}
#email{
    width: 70px;
    height: 70px;
}
#m{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

/* 3rd file */

#hi{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
}
#by{
   text-align: center;
    margin-top: 20px;
    font-size: 25px;

}
.pic{
    display:flex;
    height: 400px;
    width: 400px;
     align-items: center;
    gap: 20px;
    margin-left:20px;
}

.na{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   padding: 20px;
}

 /* 4th file */

 #ji{
    color: rgb(10, 182, 250);
 }

 #hii{
  text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    padding: 20px;
 }

 #bye{
 text-align: center;
    font-size: 25px;
 }

 .ram{
    background-color:#eafcff;
     padding: 40px 20px; 
 }

 .img{
     display:flex;
    height: 280px;
    width: 280px;
     align-items: center;
    gap:25px;
    margin-left:18px;
    margin-top: 50px;
 }

#img1, #img2, #img3, #img4 {
    border-radius: 20px;
}

/* 
4th file */
#hiii{
     text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    padding: 20px;
}

.imgs{
     display:flex;
    height: 270px;
    width: 270px;
     align-items: center;
    gap: 45px;
    margin-left:25px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#sp1, #sp2, #sp3, #sp4 {
    border-radius: 20px;
    border: 1px solid gray;
}

/* 5th file  */

.imgss{
     display:flex;
    height: 280px;
    width: 280px;
     align-items: center;
    gap: 20px;
    margin-left:20px;
    margin-bottom: 30px;
}

#bh1, #bh2, #bh3, #bh4 {
    border-radius: 20px;
    border: 1px solid gray;
}
#g{
     text-align: center;
    font-size: 25px;
}
#k{
   color: blue; 
}

/* 6th file */

.ru{
    background-color: #f0f0f0;
    padding: 40px 20px;
}


#a{
    font-size: 21px;
    margin-top: 20px;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

#aa{
    font-size: 20px;
  color: grey;
  line-height: 45px;
  margin-bottom: 15px;
  margin-left: 35px;
}

#ab{
    color:black;
}

#o{
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
}
 /* 7th file */

 .footer {
  background-color: #333;
  color: white;
  padding: 40px;
  
}


.footer-top {
  display: flex;
  margin-bottom: 40px;
  gap: 250px;
  font-weight: bold;
  font-size: 15px;
}

.col p {
  margin: 10px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-left img {
  width: 700px;
}

.bottom-right {
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}


/* Responsive Design  */


@media (max-width: 768px) {
    
/* NAVBAR */
.nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sa {
    margin-left: 0;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
#logo {
    width: 140px;
    height: auto;
}
#chat, #email {
    width: 40px;
    height: 40px;
}

/* BANNERS & HEADINGS */
#hi, #hii, #hiii {
    font-size: 28px;
}
#by, #bye {
    font-size: 20px;
}

/* IMAGE ROWS → STACK */
.pic, .img, .imgs, .imgss {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    margin: 0;
    align-items: center;
}
#pic1, #pic2, #pic3,
#img1, #img2, #img3, #img4,
#sp1, #sp2, #sp3, #sp4,
#bh1, #bh2, #bh3, #bh4 {
    width: 90%;
    height: auto;
}

/* TEXT SECTION */
#aa {
    font-size: 18px;
    line-height: 30px;
    margin-left: 15px;
}
#a {
    font-size: 22px;
}

/* FOOTER */
.footer-top {
    flex-direction: column;
    gap: 30px;
}
.bottom-left img {
    width: 100%;
}
.bottom-right {
    text-align: center;
    margin-top: 20px;
}
}

@media (max-width: 768px) {

  /* IMAGE ROWS → STACK */
  .pic, .img, .imgs, .imgss {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 20px;
      margin-left: 0;
      margin-right: 0;
  }

  #pic1, #pic2, #pic3,
  #img1, #img2, #img3, #img4,
  #sp1, #sp2, #sp3, #sp4,
  #bh1, #bh2, #bh3, #bh4 {
      width: 90%;
      height: auto;
  }

  /* TEXT SECTIONS */
  #aa {
      font-size: 16px;
      line-height: 28px;
      margin-left: 15px;
  }

  #a {
      font-size: 20px;
  }

  #g {
      font-size: 18px;
  }

  #k {
      font-size: 16px;
  }

  /* FOOTER */
  .footer-top {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 16px;
  }

  .footer-bottom {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .bottom-left img {
      width: 90%;
      max-width: 350px;
  }

  .bottom-right {
      text-align: center;
      font-size: 16px;
  }

  /* ADDITIONAL PADDING */
  .ru, .ram {
      padding: 20px 10px;
  }
}
